.sidebar {
  margin-left: -100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
  background-color: #354052;
  width: 280px;
  height: 100%;

  &.show {
    margin-left: 0;
  }
  & .close-sidebar-btn {
    transform: rotate(180deg);
  }
  & .sidebar-logo {
    font-size: 28px;
    line-height: 33px;
  }
}
